.backgroud {
    -fx-background-color: derive(#1d1d1d,30%);
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Ubuntu";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: black;
}

.button {
	-fx-background-color:derive(#1d1d1d,80%);
	-fx-font-size: 25pt;
	-fx-font-weight: bold;
	-fx-text-fill:white;
}

.label {
	-fx-alignment:center;
	-fx-font-size: 11pt;
    -fx-font-family: "Ubuntu";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}